.page{
    background-color: #2A2C2F;
    color: #fff;
    font-family: 'Inter';
    width: 80rem;
    margin: 0 auto;
}

@media screen and (max-width: 1210px) {
    .page{
        margin: 0;
        max-width: 64rem;
    }
    
}

@media screen and (max-width: 960px) {
    .page {
        margin:  0;
        max-width: 48rem;
    }
}

@media screen and (max-width: 700px) {
    .page {
        max-width: 20rem;
        margin: 0;
    }
}