.page{
    background-color: #2A2C2F;
    color: #fff;
    font-family: 'Inter';
    width: 80rem;
    margin: 0 auto;
}

@media screen and (max-width: 1210px) {
    .page{
        margin: 0;
        width: 64rem;
    }
    
}