.places {
    margin: 92px 148px 0;
}

@media screen and (max-width: 1210px) {
    .places {
        margin: 92px 48px 0;
    }
    
}

@media screen and (max-width: 960px) {
    .places {
        margin: 88px 24px 0;
    }
}