.place__image{
    grid-column: 1/2;
    grid-row: 2/5;
}

@media screen and (max-width: 1279px) {
    .place__image{
        max-width: 27.5rem;
    }
    
}

@media screen and (max-width: 1023px) {
    .place__image {
        max-width: 21.25rem;
    }
}

@media screen and (max-width: 767px) {
    .place__image {
        margin: 32px 0 0;
        max-width: 300px;
    }
}