.header__lang_ru{
    color: #fff;
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: right;
    text-decoration: underline;
    text-underline-offset: 5px;
}