.cover__subtitle {
    grid-row: 2/3;
    grid-column: 1/2;
    font-family: 'Inter ExtraLight';
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: center;
    max-width: 22.5rem;
    margin: 32px 0 0;
}

@media screen and (max-width: 700px) {
    .cover__subtitle {
        margin-top: 16px;
        font-size: 14px;
        line-height: 16px;
        max-width: 18rem;
    }
}
