.intro__text {
    font-family: 'Inter Light';
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    margin: 40px 0 33px;
    width: 45rem;
}

@media screen and (max-width: 1210px) {
    .intro__text{
        width: 43.125rem;
    }
    
}

@media screen and (max-width: 700px) {
    .intro__text {
        width: 18rem;
    }
}