.header__lang_en{
    text-decoration: none;
    color: #fff;
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: right;
    margin-left: 18px;
}

@media screen and (max-width: 700px) {
    .header__lang_en {
        font-size: 18px;
        line-height: 20px;
    }
}