.cover__overlay{
    text-decoration: none;
    color: #fff;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    justify-items: center;
    position: relative;
    margin: 0;
}

.cover__overlay:hover::after {
    content: "";
    background-color: rgba(42, 44, 47, 0.8);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}