.cover__overlay{
    text-decoration: none;
    color: #fff;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, min-content);
    justify-items: center;
    margin: 0; 
}