.cover__overlay{
    text-decoration: none;
    color: #fff;
    display: grid;
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, min-content);
    justify-items: center;
    position: relative;
    margin: 0;
    z-index: 1;
}

.cover__overlay::before {
    content: "";
    background-color: rgba(42, 44, 47, 0.3);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.cover__overlay:hover::before {
    background-color: rgba(42, 44, 47, 0.8);
}
@media screen and (max-width: 767px) {
    .cover__overlay {
        max-width: 320px;
        grid-template-rows: repeat(2, min-content);
    }
}