.photo-grid__pic{
    margin: 0;
}

@media screen and (max-width: 1279px) {
    .photo-grid__pic{
        max-width: 18.75rem;
    }
    
}

@media screen and (max-width: 1023px) {
    .photo-grid__pic{
        max-width: 22rem;
    }
}

@media screen and (max-width: 767px) {
    .photo-grid__pic {
        max-width: 300px;
    }
}