.place__website{
    display: flex;
    flex-direction: column;
    grid-column: 2/3;
    grid-row: 1/2;
    align-self: flex-end;
    margin-bottom: 47px;
    max-width: fit-content;
}

@media screen and (max-width: 1023px) {
    .place__website {
        max-width: 22rem;
        margin-bottom: 48px;
    }
}

@media screen and (max-width: 767px) {
    .place__website {
        align-self: flex-start;
        margin: 32px 16px 0;
        max-width: 18rem;
    }
}